@plugin 'daisyui/theme' {
	name: 'cashier';
	default: true;
	prefersdark: true;
	color-scheme: 'dark';

	/*--color-base-100: oklch(14% 0 0);*/
	--color-base-100: oklch(22.47% 0 0);
	/*--color-base-200: oklch(20% 0 0);*/
	--color-base-200: oklch(18.15% 0 0);
	/*--color-base-300: oklch(26% 0 0);*/
	--color-base-300: oklch(16% 0 0);
	--color-base-content: var(--color-tertiary-100);
	--color-primary: #076461;
	/*--color-primary-content: oklch(28% 0.066 53.813);*/
	--color-primary-content: var(--color-tertiary-100);
	--color-secondary: #92140c;
	--color-secondary-content: #ffd700;
	--color-accent: #ffd700;
	/*--color-accent-content: oklch(28% 0.109 3.907);*/
	--color-accent-content: #000000;
	--color-neutral: #1d1f20;
	--color-neutral-content: oklch(98% 0 0);
	--color-info: oklch(58% 0.158 241.966);
	--color-info-content: oklch(97% 0.013 236.62);
	--color-success: var(--color-green-600);
	--color-success-content: oklch(98% 0.031 120.757);
	--color-warning: #ffd700;
	--color-warning-content: var(--color-secondary);
	--color-error: var(--color-red-400);
	--color-error-content: oklch(97% 0.013 17.38);

	/* custom colours */
	--color-tertiary-100: oklch(95.57% 0.09 98.61deg);

	/* border radius */
	--radius-selector: 0.25rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;

	/* base sizes */
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--font-size: 1rem;
	/*
	--card-fs: 1.1rem;
	--cardtitle-fs: 1.1rem;
	*/

	/* border size */
	--border: 1px;

	/* effects */
	--depth: 1;
	--noise: 1;

	/* palette */
	--color-primary-50: oklch(0.959 0.06 192.33);
	--color-primary-100: oklch(0.903 0.15 191.15);
	--color-primary-200: oklch(0.828 0.139 190.76);
	--color-primary-300: oklch(0.751 0.126 191.53);
	--color-primary-400: oklch(0.685 0.115 191.14);
	--color-primary-500: oklch(0.609 0.102 190.56);
	--color-primary-600: oklch(0.533 0.09 190.8);
	--color-primary-700: oklch(0.455 0.076 191.14);
	--color-primary-800: oklch(0.346 0.058 191.36);
	--color-primary-900: oklch(0.246 0.042 189.57);
	--color-primary-950: oklch(0.185 0.032 191.07);

	--color-secondary-50: oklch(0.966 0.015 17.53);
	--color-secondary-100: oklch(0.927 0.036 17.86);
	--color-secondary-200: oklch(0.862 0.069 19.71);
	--color-secondary-300: oklch(0.789 0.114 21.27);
	--color-secondary-400: oklch(0.719 0.166 23.43);
	--color-secondary-500: oklch(0.655 0.218 27.33);
	--color-secondary-600: oklch(0.579 0.219 29.47);
	--color-secondary-700: oklch(0.505 0.191 29.46);
	--color-secondary-800: oklch(0.424 0.161 29.44);
	--color-secondary-900: oklch(0.28 0.106 29.9);
	--color-secondary-950: oklch(0.216 0.082 28.86);

	--color-accent-50: oklch(0.974 0.03 88.35);
	--color-accent-100: oklch(0.94 0.077 90.48);
	--color-accent-200: oklch(0.887 0.182 95.32);
	--color-accent-300: oklch(0.793 0.163 95.22);
	--color-accent-400: oklch(0.698 0.144 95.67);
	--color-accent-500: oklch(0.602 0.124 95.1);
	--color-accent-600: oklch(0.508 0.104 95.26);
	--color-accent-700: oklch(0.423 0.087 96.15);
	--color-accent-800: oklch(0.327 0.067 96);
	--color-accent-900: oklch(0.232 0.048 96.33);
	--color-accent-950: oklch(0.176 0.036 93.21);
}
