/*
Cashier Theme for DaisyUI
*/
[data-theme='cashiertheme'] {
	--color-primary: #076461;
	--color-primary-focus: #076461;
	--color-primary-content: #ffffff;
	--color-secondary: #92140c;
	--color-secondary-focus: #92140c;
	--color-secondary-content: #ffffff;
	--color-accent: #ffd700;
	--color-accent-focus: #ffd700;
	--color-accent-content: #000000;
	--color-neutral: #1d1f20;
	--color-neutral-focus: #1d1f20;
	--color-neutral-content: #ffffff;
	--color-base-100: #ffffff;
	--color-base-200: #f9fafb;
	--color-base-300: #d1d5db;
	--color-base-content: #1f2937;
	--color-info: #519390;
	--color-info-content: #ffffff;
	--color-success: #076461;
	--color-success-content: #ffffff;
	--color-warning: #ffd700;
	--color-warning-content: #000000;
	--color-error: #92140c;
	--color-error-content: #ffffff;
}

[data-theme='cashierthemedark'] {
	--color-primary: #076461;
	--color-primary-focus: #076461;
	--color-primary-content: #ffffff;
	--color-secondary: #92140c;
	--color-secondary-focus: #92140c;
	--color-secondary-content: #ffffff;
	--color-accent: #ffd700;
	--color-accent-focus: #ffd700;
	--color-accent-content: #000000;
	--color-neutral: #2a2e37;
	--color-neutral-focus: #2a2e37;
	--color-neutral-content: #e6e6e6;
	--color-base-100: #1d2025;
	--color-base-200: #25282d;
	--color-base-300: #2e3238;
	--color-base-content: #e6e6e6;
	--color-info: #519390;
	--color-info-content: #ffffff;
	--color-success: #076461;
	--color-success-content: #ffffff;
	--color-warning: #ffd700;
	--color-warning-content: #000000;
	--color-error: #92140c;
	--color-error-content: #ffffff;
}
