@plugin 'daisyui/theme' {
	name: 'cashier';
	default: true;
	prefersdark: true;
	color-scheme: 'dark';

	--color-base-100: oklch(22.47% 0 0);
	--color-base-200: oklch(18.15% 0 0);
	--color-base-300: oklch(16% 0 0);
	--color-base-content: var(--color-tertiary-100);
	--color-primary: #076461;
	--color-primary-content: var(--color-tertiary-100);
	--color-secondary: #92140c;
	--color-secondary-content: --var(--color-secondary);
	--color-accent: #ffd700;
	--color-accent-content: #000000;
	--color-neutral: #1d1f20;
	--color-neutral-content: var(--color-tertiary-100);
	--color-info: var(--color-neutral);
	--color-info-content: var(--color-neutral-content);
	--color-success: var(--color-primary-400);
	--color-success-content: var(--color-primary-content);
	--color-warning: var(--color-secondary-400);
	--color-warning-content: var(--color-secondary);
	--color-error: var(--color-secondary-400);
	--color-error-content: oklch(97% 0.013 17.38);

	/* custom colours */
	--color-tertiary-100: oklch(95.57% 0.09 98.61deg);

	/* border radius */
	--radius-selector: 0.25rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;

	/* base sizes */
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--font-size: 1rem;
	/*
	--card-fs: 1.1rem;
	--cardtitle-fs: 1.1rem;
	*/

	/* border size */
	--border: 1px;

	/* effects */
	--depth: 1;
	--noise: 1;
}

/*
    palette
    Generated with https://www.tints.dev/palette/v1
*/
@theme {
	--color-primary-50: oklch(0.938 0.094 191.52);
	--color-primary-100: oklch(0.878 0.147 191.57);
	--color-primary-200: oklch(0.77 0.129 191);
	--color-primary-300: oklch(0.668 0.112 191.02);
	--color-primary-400: oklch(0.558 0.094 191.01);
	--color-primary-500: oklch(0.455 0.076 191.14);
	--color-primary-600: oklch(0.39 0.066 190.37);
	--color-primary-700: oklch(0.329 0.055 191.13);
	--color-primary-800: oklch(0.262 0.044 192.36);
	--color-primary-900: oklch(0.201 0.033 191.39);
	--color-primary-950: oklch(0.16 0.028 190.36);

  --color-secondary-50: oklch(0.942 0.027 17.71);
  --color-secondary-100: oklch(0.886 0.057 18.31);
  --color-secondary-200: oklch(0.774 0.125 21.53);
  --color-secondary-300: oklch(0.67 0.205 26.05);
  --color-secondary-400: oklch(0.551 0.209 29.43);
  --color-secondary-500: oklch(0.424 0.161 29.44);
  --color-secondary-600: oklch(0.37 0.14 29.53);
  --color-secondary-700: oklch(0.317 0.12 29.57);
  --color-secondary-800: oklch(0.253 0.096 29.13);
  --color-secondary-900: oklch(0.196 0.075 29.5);
  --color-secondary-950: oklch(0.156 0.059 27.7);

  --color-accent-50: oklch(0.991 0.01 87.41);
  --color-accent-100: oklch(0.974 0.03 88.35);
  --color-accent-200: oklch(0.957 0.052 89.02);
  --color-accent-300: oklch(0.93 0.09 90.16);
  --color-accent-400: oklch(0.913 0.122 92.12);
  --color-accent-500: oklch(0.887 0.182 95.32);
  --color-accent-600: oklch(0.741 0.152 95.31);
  --color-accent-700: oklch(0.585 0.12 95.17);
  --color-accent-800: oklch(0.439 0.09 94.97);
  --color-accent-900: oklch(0.284 0.058 94.73);
  --color-accent-950: oklch(0.216 0.044 94.93);
}
