/* Tailwind */
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
/*@import '../cashier-theme.css';*/
/*themes: cashiertheme, cashierthemedark --prefersdark --default;*/
@plugin 'daisyui';
@import '../cashier-theme-daisy.css';

/* @custom-variant dark (&:is(.dark *)); */
/*@custom-variant dark (&:where(.dark, .dark *));*/

/* Resets */

html,
body {
	height: 100%;
}

/* Override DaisyUI default hover effect for ghost buttons to use transparency instead of solid color */
/*.btn.btn-ghost:hover {
	background-color: color-mix(in srgb, currentColor 15%, transparent) !important;
	border: 0;
}

.btn.btn-ghost:active {
	background-color: color-mix(in srgb, currentColor 25%, transparent) !important;
}*/
