/* Tailwind */
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import '../cashier-theme.css';
@plugin 'daisyui'{
   themes: cashiertheme, cashierthemedark --prefersdark --default;
 };

/* @custom-variant dark (&:is(.dark *)); */
/*@custom-variant dark (&:where(.dark, .dark *));*/

/* Resets */

html,
body {
	/* @apply h-full; */
	height: 100%;
}
