/* Tailwind */
@import 'tailwindcss';

/* Skeleton */
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";

/* Your custom theme */
@import "../cashier-theme";

/* Tell tailwind to include Skeleton components */
@source "../node_modules/@skeletonlabs/skeleton-svelte/dist";

@custom-variant dark (&:is(.dark *));

/* Resets */

html,
body {
  /* @apply h-full; */
  height: 100%;
}

/* Modal / sidebar */
[data-part='positioner'] {
  /* styles for the positioner element */
  /* background-color: #fff; */
  padding: 0;
}
